@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply nier-grate styled-scrollbar bg-nier-300 text-nier-700;
  }
  svg {
    @apply fill-current;
  }
  html {
    @apply scroll-smooth antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .styled-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }
  .styled-scrollbar::-webkit-scrollbar-track {
    background: #d1cdb7;
  }
  .styled-scrollbar::-webkit-scrollbar-thumb {
    background-color: #454138;
    border-radius: 2px;
    border: 0rem solid #d1cdb7;
  }
  .styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #454138 #d1cdb7;
  }
  .nier-grate {
    background-size: 0.3rem 0.3rem;
    background-image: linear-gradient(
        to right,
        theme(textColor.nier.350) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, theme(textColor.nier.350) 1px, transparent 1px);
  }
  .text-shadow {
    text-shadow: 0.3rem 0.3rem 0 theme(textColor.nier.400);
  }
  .nier-block-left {
    @apply before:absolute before:-left-6 before:top-0 before:box-content before:h-full before:w-[0.3rem] before:border before:border-y-0 before:border-l-[0.6rem] before:border-r-[0.2rem] before:border-solid before:border-nier-400 before:content-[""];
  }
  .nier-block-left-sm {
    @apply before:absolute before:-left-4 before:top-0 before:box-content before:h-full before:w-[0.15rem] before:border before:border-y-0 before:border-l-[0.3rem] before:border-r-[0.1rem] before:border-solid before:border-nier-400 before:content-[""];
  }
  .nier-block-right {
    @apply after:absolute after:-right-6 after:top-0 after:box-content after:h-full after:w-[0.3rem] after:border after:border-y-0 after:border-l-[0.2rem] after:border-r-[0.6rem] after:border-solid after:border-nier-400 after:content-[""];
  }
  .nier-block-right-sm {
    @apply after:absolute after:-right-4 after:top-0 after:box-content after:h-full after:w-[0.15rem] after:border after:border-y-0 after:border-l-[0.1rem] after:border-r-[0.3rem] after:border-solid after:border-nier-400 after:content-[""];
  }
}
